header nav ul {
    text-align: center;
    list-style: none;
    background-color: black;
    padding: 0%;
    font-family: 'Bahnschrift';
    word-spacing: 1em;
}

header nav ul li {
    color: white;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding: 5px;
    border: 2px solid white;
    margin-bottom: 10px;
    word-spacing: 0;
    border-radius: 10px;
}

header nav ul li:hover {
    background-color: white;
    color: black;
}

header p {
    text-align: center;
}

header nav a {
    display: block;
    color: inherit;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

body {
    font-family: "Bahnschrift";
    color: white;
    background-color: black;
}

body h1 {
    margin-top: 230px;
    text-align: center;
}

body p {
    line-height: 5px;
}

.page {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.page a {
    background-color: white;
    color: black;
    text-decoration: none;
    display: block;
    width: 180px;
    padding: 5px;
    border: 2px solid black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 0;
    border-radius: 10px;
    transition: all 250ms ease;
    position: relative;
}

.page a:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    text-decoration: underline;
    width: 180px;
    word-spacing: 0;
    border-radius: 10px;
    box-shadow: 0 0.5rem 0 white;
    transform: translate(0, -0.3rem);
}

.page a.active:hover {
    color: white;
    border: 2px solid white;
}