:root {
    --prim: #26ED90;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("../Aufgabe_1.3/bg.png");
    background-color: black;
    background-size: 50px;

    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    color: white;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header, main, footer {
    font-size: 1rem;
}

.stickynav {
    display: block;
    position: relative;
    background: black;
    right: 0;
}

.stickynav a {
    color: inherit;
}

.stickynav ul {
    margin: 0;
    list-style: none;
    padding: .5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.stickynav .icons {
    margin: auto;
    list-style: none;
}

.stickynav .icons li:hover {
    background-color: inherit;
}

.stickynav ul li {
    color: white;
    text-align: center;
    display: inline;
    padding: 5px;
}

.stickynav ul li:hover{
    border-radius: .5rem;
    background-color: white;
    color: black;
}

.icons li img {
    filter: invert();
    box-shadow: none;
    width: 2.5rem;
    padding: .3rem;
}

.icons li:hover img {
    background-color: white;
    filter: none;
    border-radius: .8rem;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

body p {
    line-height: 1.7rem;
}

a {
    text-decoration: none;
    color: var(--prim);
}

a:hover {
    text-decoration: underline;
}

.sizing {
    width: 95%;
}

.foc:focus{
    box-shadow: #030303 0 0 5rem;
}

.round {
    border-radius: 1rem;
}

nav .current {
    color: var(--prim);
}

.disc img {
    width: 100%;
    box-shadow: #030303 0 0 5rem;
}

#line {
    margin: 5px auto -2px auto;
    background-color: white;
    width: 90%;
    height: 2px;
}

.box {
    margin: auto;
    width: 80%;
    padding: 2rem;
    background-color: black;
    text-align: center;
}

.box h1 {
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="email"] {
    font-family: sans-serif;
    color: white;
    background: none;
    display: block;
    margin: 1rem auto;
    text-align: center;
    border: .15rem solid white;
    padding: 1rem 15%;
    outline: none;
    transition: 250ms;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus {
    padding: 1rem 15.5%;
    border: .15rem solid var(--prim);
}

.box textarea {
    font-family: sans-serif;
    color: white;
    background: none;
    display: block;
    margin: 1rem auto;
    border: .15rem solid white;
    padding: 1rem;
    outline: none;
    transition: 250ms;
    height: 20rem;
    width: 90%;
    resize: none;
}

.box textarea:focus {
    border: .15rem solid var(--prim);
    width: 92%;
}

.box input[type="submit"] {
    color: white;
    background: none;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border: .2rem solid var(--prim);
    padding: 1rem 4rem;
    outline: none;
    transition: 250ms;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: .2rem solid white;
    text-decoration: underline;
}

.box p {
    font-size: .7rem;
}

.box a {
    text-decoration: underline;
}

.dtschtz {
    text-align: left;
}

@media screen and (min-width: 1024px){
    .stickynav {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        background: none;
    }

    .sizing {
        width: 60rem;
    }

    .disc img {
        width: 35rem;
    }
}