html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    height: 290%;
    top: 0;
    z-index: 1000;
}

header nav {
    position: absolute;
    right: 0;
}

header nav a {
    color: inherit;
}

header nav ul {
    list-style: none;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    width: max-content;
}

header nav ul li {
    color: white;
    text-align: center;
    display: inline;
    width: 180px;
    padding: 5px;
}

header nav ul li:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

body {
    background-image: url("./bg.png");
    background-color: black;
    color: white;
    background-size: 50px;
    font-family: sans-serif;
    font-size: 5;
    text-align: center;
}

body p {
    line-height: 17px;
}

a {
    text-decoration: none;
    color: #26ED90;
}

a:hover {
    text-decoration: underline;
}

img {
    box-shadow: #030303 0px 0px 50px;
}

video {
    width: 800px;
    box-shadow: #030303 0px 0px 50px;
}

nav {
    position: sticky;
    top: 0;
}

.instafeed {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

nav .current {
    color: #26ED90;
}

.disc img {
    margin-bottom: 30px;
}

.box {
    width: 90%;
    padding: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: black;
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="email"] {
    font-family: sans-serif;
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 10px 10px;
    width: 300px;
    outline: none;
    border-radius: 10px;
    transition: 250ms;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus {
    padding: 10px 14px;
    border: 2px solid #26ED90;
}

.box textarea {
    font-family: sans-serif;
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid white;
    padding: 10px;
    width: 200px;
    outline: none;
    border-radius: 10px;
    transition: 250ms;
    height: 200px;
    width: 600px;
    resize: none;
}

.box textarea:focus {
    border: 2px solid #26ED90;
    width: 610px;
}

.box input[type="submit"] {
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #26ED90;
    padding: 10px 40px;
    outline: none;
    border-radius: 10px;
    transition: 250ms;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
    text-decoration: underline;
}

.box p {
    font-size: x-small;
}

.box a {
    text-decoration: underline;
}

.dtschtz {
    text-align: left;
}