:root {
    --prim: #26ED90;
    --liv: limegreen;
    --com: deepskyblue;
    --ind: orange;
    --free: lime;
    --occ: red;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-size: 50px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.start {
    margin: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul {
    margin: 0 0 3rem;
    list-style: none;
    padding: .5rem;
    font-weight: bold;
}

nav ul li {
    margin: 2rem;
    text-align: center;
    display: inline;
    padding: .8rem;
    border: 3px solid white;
}

nav .current {
    background-color: rgb(200,200,200);
    border-radius: 100vw;
}

#line {
    margin: 2rem auto;
    background-color: black;
    width: 35rem;
    height: .4rem;
    border-radius: 100vw;
}

button {
    padding: .5rem;
    margin: auto 1rem;
    font-family: Roboto, sans-serif;
    text-align: center;
    background: none;
    border: 3px solid #3498db;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    border-radius: 100vw;
    transition: 300ms;
}

button:hover {
    color: #fff;
    border: 3px solid white;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 300ms;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
button:hover::before {
    height: 180%;
}

#building div > div {
    display: inline-block;
    width: 22rem;
    margin: 2rem;
}

#building div > div:hover, .building div > div:hover {
    cursor: pointer;
}

#building h2 {
    width: max-content;
    margin: 2rem auto;
}

.position {
    margin: 1rem auto;
    transform:rotatex(45deg) rotateZ(45deg) translateZ(-1em);
    transform-style: preserve-3d;
}

.position div > div {
    display: inline-block;
    margin: auto 2px;
    width: 18rem;
    height: 18rem;
    background-color: gray;
}

.position div > div:hover::after {
    content: "FELD AUSWÄHLEN";
    background-color: rgb(200,200,200);
    transform: translateX(-50%);
    margin: 0;
    width: 18rem;
    height: 18rem;
    position: absolute;
    box-shadow: 0 0 0 20px var(--free) inset;
    cursor: pointer;
}

.city {
    margin: 1rem auto;
}

.city img {
    display: inline-block;
    max-width: 27rem;
}

.city div > div {
    margin: -1.8rem 3.6rem;
    display: inline-block;
    width: 18rem;
    height: 18rem;
    background-color: gray;
    transform: rotateX(55deg) rotateZ(45deg) translateZ(-1em);
}

@media print {
    nav, a, p, button, h1, h3, .city div div {
        display: none;
    }
    .city img {
        max-height: 10rem;
    }    
}